$TTL 86400
@	IN	SOA ns1.jupiter.lab. admin.jupiter.lab. (
   	   	2025061901  ; Serial
        	3600        ; Refresh
        	1800        ; Retry
        	604800      ; Expire
        	86400 )     ; Minimum

    	IN	NS	ns1.jupiter.lab.
	IN	NS	ns2.jupiter.lab.
ns1    	IN  	A   172.16.30.48
ns2    	IN	A   172.16.32.48



