$TTL 86400
@	IN	SOA dns1.labtest.lab. admin.labtest.lab. (
   	   	2025061901  ; Serial
        	3600        ; Refresh
        	1800        ; Retry
        	604800      ; Expire
        	86400 )     ; Minimum

    	IN	NS	dns1.labtest.lab.
		IN	NS	dns2.labtest.lab.
dns1    	IN  	A   172.16.30.48
dns2    	IN		A   172.16.32.48


