$TTL 86400
@   IN  SOA ns1.jupiter.lab. admin.jupiter.lab. (
        2025061801  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400 )     ; Minimum
    	IN  NS  ns1.jupiter.lab.
	IN  NS	ns2.jupiter.lab.
48.30   IN  PTR ns1.jupiter.lab.
48.32   IN  PTR ns2.jupiter.lab.
